.burger-nav {
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 12px 20px 12px;
  border-top: black solid 1px;
  font-size: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  button {
    margin-top: 8px;
  }

  a {
    text-decoration: none;
    width: 100%;
    padding: 8px 0;
    transition: 0.3s;
  }

  a:hover {
    padding-left: 12px;
  }
}

.burger-nav-container {
  position: fixed;
  width: 100%;
  transition: 0.3s;
  z-index: 1;
}

.burger-nav-container.hidden {
  margin-top: -250px;
}

@media (min-width: 992px) {
  .burger,
  .burger-nav {
    display: none;
  }
}

html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}

html[data-theme="light"] #light-mode-btn-2 {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn-2 {
  display: none;
}
