header {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-nav-lg {
  display: none;
}

.header-space {
  height: 88px;
}

@media (min-width: 992px) {
  .header-nav-lg {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--color-secondary);
    font-size: 20px;
    a {
      text-decoration: none;
    }
  }
}
