* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bubbler One";
}

html {
  --color-secondary: black;
  --color-text: #515050;
  --color-background: #bcbfc3;
  --color-blue: #279ef8;
  --color-yellow: #f8af27;
  --color-green: #12965d;
  --color-red: #f82727;
  --color-background-main: #fff;
}

html[data-theme="dark"] {
  --color-background: #696a6c;
  --color-text: #f7f6f6;
  --color-secondary: #ffffff;
  --color-background-main: #515050;
  --color-blue: #a3d7ff;
  --color-yellow: #f7f43e;
  --color-green: #76e5b5;
  --color-red: #f8a7a7;
}

body {
  color: var(--color-text);
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  color: var(--color-secondary);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-family: "Caesar Dressing";
  font-size: 32px;
  font-weight: 400;
}

header,
footer {
  background: var(--color-background);
}

button {
  background: none;
  border: none;
}

main {
  padding: 20px 12px 8px 12px;
  background: var(--color-background-main);
}

@media (min-width: 992px) {
  main {
    padding: 40px 12px 28px 12px;
  }
}

h3 {
  font-family: "Caesar Dressing";
  font-size: 20px;
}
