* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --color-secondary: black;
  --color-text-main: #515050;
  --color-background: #bcbfc3;
  --color-blue: #279ef8;
  --color-yellow: #f8af27;
  --color-green: #12965d;
  --color-red: #f82727;
  font-family: "Bubbler One";
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  color: var(--color-secondary);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-weight: 400;
}

h2 {
  color: var(--color-text-main);
  font-family: "Caesar Dressing";
  font-size: 32px;
  font-weight: 400;
}

header,
footer {
  background: var(--color-background);
}

button {
  background: none;
  border: none;
}
